# $Id$
# Yaml widgets for containet-lsp member-lsp data extraction
# - MemberLSPStatsTable extracts 'show mpls container-lsp name [..] statistics'
#    for the container-lsp name Jaen-to-Soria-DYN-AUTOBW-TE++ 
# - MemberLSPStatsView identifies most relevant fields
#    including member-lsp-name, pps and bytes per iteration
---
MemberLSPMemberBWTable:  
 rpc: get-mpls-container-lsp-information
 args:
  extensive: True
  regex: {{ masterlsp }}
 args_key: regex
 item: rsvp-session-data/rsvp-session/mpls-lsp
 key: name
 view: MemberLSPMemberBWView

MemberLSPMemberBWView:
 fields:
  name: name
  max_avg_bandwidth: mpls-lsp-autobandwidth/maximum-average-bandwidth
  signal_bandwidth: mpls-lsp-path/bandwidth