# $Id$
# Yaml widgets for containet-lsp member-lsp data extraction
# - MemberLSPStatsTable extracts 'show mpls container-lsp name [..] statistics'
#    for the container-lsp name Jaen-to-Soria-DYN-AUTOBW-TE++ 
# - MemberLSPStatsView identifies most relevant fields
#    including member-lsp-name, pps and bytes per iteration
---
MemberLSPAggrBWTable:  
 rpc: get-mpls-container-lsp-information
 args:
  extensive: True
  regex: {{ masterlsp }}
 args_key: regex
 item: rsvp-session-data/mpls-container-lsp
 key: mpls-container-lsp-name
 view: MemberLSPAggrBWView

MemberLSPAggrBWView:
 fields:
  name: mpls-container-lsp-name
  aggregate_bandwidth: mpls-container-lsp-splitting-merging/aggregate-bandwidth
  current_bandwidth: mpls-container-lsp-splitting-merging/current-bandwidth